# Values for Production Environment

backend:
  replicaCount: 3
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  env:
    ENV: "production"
    DEBUG: "false"
    DATABASE_URL: "sqlite+aiosqlite:///./prod.db"
    DATABASE_URL_SYNC: "sqlite:///./prod.db"
    SECRET_KEY: "prod-secret-key-change-me"
    ALLOWED_ORIGINS: '["*"]'
  image:
    repository: hemantr1/ai-attendance-backend
    tag: latest
    pullPolicy: Always
  service:
    type: NodePort
    port: 8000
    nodePort: 30005

frontend:
  replicaCount: 3
  image:
    repository: hemantr1/ai-attendance-frontend
    tag: latest
    pullPolicy: Always
  service:
    type: NodePort
    port: 80
    nodePort: 30004
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

ingress:
  enabled: true
  hosts:
    - host: ai-attendance.com
      paths:
        - path: /
          pathType: Prefix
          backend: frontend
        - path: /api
          pathType: Prefix
          backend: backend
  tls:
    - secretName: ai-attendance-tls
      hosts:
        - ai-attendance.com
